<ion-content [fullscreen]="true">
  <div class="container">
    <h1>We’re Hiring</h1>
    <ion-accordion-group>
      <ion-accordion class="mb-5" value="first">
        <ion-item slot="header" color="gray">
          <ion-label class="label-accordion">Film Editor and Creator for Trading Content</ion-label>
        </ion-item>
        <div class="accordion-content" slot="content">
          <div class="divider"></div>
          <h2>Hiring a Film Editor and<br>
            Creator for Trading Content</h2>
          <p>
            We're looking to increase our exposure on social
            media, by creating more content (specifically
            Youtube Videos + shorts and Reels on Instagram)
          </p>
          <ul>
            <li>You will be provided with Living rent free with
              me (Either in Los Angeles or New York, open
              to be discussed)
            </li>
            <li>Compensation is negotiable (DM to discuss)</li>
            <li>Become a Partner</li>
          </ul>
          <h3>
            Skills Needed (Most to Least Important)
          </h3>
          <ul>
            <li>Short Form Video Editing</li>
            <li>Lighting and Content Creation Setting
              Management</li>
            <li>Videography</li>
            <li>Photography</li>
            <li>Longform Video Editing</li>
          </ul>
          <div class="divider"></div>
          <p class="contact-text">Contact us at <a href="mailto:kevin@xtrades.net">kevin@xtrades.net</a> and include
            information
            about your previous works and experience<br>
            to set up an interview.</p>
          <ion-button class="btn green-btn">
            <span>
              contact us now
            </span>
          </ion-button>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <ion-accordion-group>
      <ion-accordion class="mb-5" value="second">
        <ion-item slot="header" color="gray">
          <ion-label class="label-accordion">Full Stack Principal Software Developer</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Second Content</div>
      </ion-accordion>
    </ion-accordion-group>
    <ion-accordion-group>
      <ion-accordion class="mb-5" value="third">
        <ion-item slot="header" color="gray">
          <ion-label class="label-accordion">Sr Principal Software Engineer<br>
            - C++Programmer
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Third Content</div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
