.mr-10 {
  margin-right: 10px;
}

.logo {
  margin-bottom: 64px;
}

.dots-background {
  --background: url('../../assets/background/dots.svg') repeat 100% 100%, url('../../assets/background/Vector(3).png') 50% 26%/70% no-repeat;
}

.container {
  height: 100%;
  width: 100%;
  gap: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  width: 250px;
  height: 48px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 1.2px;
  display: flex;
  justify-content: space-between;
}
@media(min-width: 568px){
  .btn{
    width: 280px;
    height: 48px;
    --border-radius: 6px;
  }

  .dots-background {
    --background: url('../../assets/background/Vector(3).png') 50% 26%/445px no-repeat;
  }
  .dots-background:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background:  url('../../assets/background/dots.svg') repeat 100% 100%;
    mask-image: linear-gradient(to bottom, transparent 20%, black);
  }
}
.btn-blue {
  --background: #5865F2;
}

.btn-gray {
  --background: #303236;
}
