<ion-content class="dots-background" [fullscreen]="true">
  <div class="container">
    <img class="logo" src="../../assets/icon/logo.svg">
    <ion-button class="btn btn-blue">
      <ion-icon class="mr-10" src="../../assets/icon/discordIcon.svg"></ion-icon>
      <p>continue with discord</p>
    </ion-button>
    <ion-button class="btn btn-gray">
      <ion-icon src="src/assets/icon/discordIcon.svg"></ion-icon>
      <p>continue with email</p>
    </ion-button>
  </div>
</ion-content>
<ion-footer>
  <p class="copyright opacity-05">© CryptoTraders 2023</p>
</ion-footer>
